apiVersion: apps/v1
kind: Deployment
metadata:
  name: golang-deployment
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: golang
  template:
    metadata:
      labels:
        app: golang
    spec:
      containers:
      - name: golang
        image: golang:latest
        ports:
        - containerPort: 8080